* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Mulish", sans-serif;
  color: #010675;
}

.container {
  width: clamp(320px, 89.84375vw, 1150px);
  margin: 0 auto;
  padding: 0 15px;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  margin: 15px 0 0 0;
}
.greeting__logo {
  height: 1em;
  margin: 0 0.375em 0 0;
}
.greeting__title {
  font-size: calc(22px + 18 * (100vw - 320px) / 960);
  font-weight: 700;
}
.greeting__title_first {
  color: #b834ff;
}
.greeting__title_second {
  color: #0eddff;
}
.greeting__title_third {
  color: #ff5a3e;
}
.greeting__description {
  font-size: calc(15px + 5 * (100vw - 320px) / 960);
  font-weight: 500;
  text-align: center;
}

#image {
  border-style: solid !important;
  max-width: 100%;
}