* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Mulish", sans-serif;
  color: #010675;
}

.container {
  width: clamp(320px, 89.84375vw, 1150px);
  margin: 0 auto;
  padding: 0 10px;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  margin: 15px 0 30px 0;
}
.greeting__logo {
  height: 1em;
  margin: 0 0.375em 0 0;
}
.greeting__title {
  font-size: calc(22px + 18 * (100vw - 320px) / 960);
  font-weight: 700;
}
.greeting__title_first {
  color: #b834ff;
}
.greeting__title_second {
  color: #0eddff;
}
.greeting__title_third {
  color: #ff5a3e;
}
.greeting__description {
  font-size: calc(15px + 5 * (100vw - 320px) / 960);
  font-weight: 500;
  text-align: center;
}

.workspace {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(20px + 40 * (100vw - 768px) / 512);
}
@media (min-width: 1280px) {
  .workspace {
    gap: 60px;
  }
}
@media (max-width: 768px) {
  .workspace {
    flex-wrap: wrap;
  }
}

.toolbox {
  margin-bottom: 20px;
}
.toolbox__upload {
  display: flex;
  align-items: center;
  gap: 0.9375em;
  margin-bottom: calc(14px + 14 * (100vw - 320px) / 960);
}
.toolbox__download {
  margin-top: -10px;
}

.button-tool {
  font-size: calc(14px + 2 * (100vw - 320px) / 960);
  display: flex;
  justify-content: center;
}
.button-tool__input {
  display: none;
}
.button-tool__btn {
  display: inline-block;
  border: 2px solid #010675;
  border-radius: 4px;
  background-color: white;
  color: #010675;
  font-size: calc(14px + 2 * (100vw - 320px) / 960);
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  padding: calc(5px + 2 * (100vw - 320px) / 960) 11px;
  min-width: 160px;
  transition: color 0.5s, background-color 0.5s;
}
@media (max-width: 768px) {
  .button-tool__btn {
    border-width: 1.5px;
  }
}
@media (max-width: 425px) {
  .button-tool__btn {
    min-width: 110px;
  }
}
.button-tool__btn:hover, .button-tool__btn:focus {
  background-color: #010675;
  color: white;
}
.button-tool__filename {
  font-weight: 500;
}

.group {
  margin-bottom: calc(16px + 9 * (100vw - 320px) / 960);
}
.group__description {
  grid-column: span 2;
  font-size: calc(15px + 3 * (100vw - 320px) / 960);
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-bottom: 0.7777777778em;
}
.group__item {
  gap: calc(10px + 5 * (100vw - 320px) / 960);
}
.group__item_range {
  display: grid;
  grid-template-columns: 1fr auto calc(18px + 3 * (100vw - 320px) / 960);
  margin-bottom: 12px;
}
@media (max-width: 768px) {
  .group__item_range {
    margin-bottom: 18px;
  }
}
.group__item_checkbox {
  display: flex;
}
.group__item_color {
  display: flex;
  justify-content: center;
  align-items: center;
}
.group__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.group__label {
  font-size: calc(14px + 2 * (100vw - 320px) / 960);
  font-weight: 500;
  text-align: end;
  align-self: center;
}
.group__input[type=range] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: calc(152px + 83 * (100vw - 320px) / 960);
  height: 10px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  background: #efefef;
  background-repeat: no-repeat;
  cursor: ew-resize;
  align-self: center;
}
.group__input[type=range]::-webkit-slider-thumb {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: calc(20px + 1 * (100vw - 320px) / 960);
  height: calc(20px + 1 * (100vw - 320px) / 960);
  border-radius: 50%;
  border: none;
}
.group__input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: calc(20px + 1 * (100vw - 320px) / 960);
  height: calc(20px + 1 * (100vw - 320px) / 960);
  border-radius: 50%;
  border: none;
}
.group__input[type=range]::-ms-thumb {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: calc(20px + 1 * (100vw - 320px) / 960);
  height: calc(20px + 1 * (100vw - 320px) / 960);
  border-radius: 50%;
  border: none;
}
.group__input[type=range]::-webkit-slider-runnable-track {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  background: transparent;
}
.group__input[type=range]::-moz-range-track {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  background: transparent;
}
.group__input[type=range]::-ms-track {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  background: transparent;
}
.group__input[type=range]#saturate, .group__input[type=range]#border-radius {
  background-image: linear-gradient(#feb0a3, #feb0a3);
}
.group__input[type=range]#saturate:focus:focus-visible, .group__input[type=range]#border-radius:focus:focus-visible {
  outline: 2px solid #feb0a3;
}
.group__input[type=range]#saturate::-webkit-slider-thumb, .group__input[type=range]#border-radius::-webkit-slider-thumb {
  background: #feb0a3;
}
.group__input[type=range]#saturate::-moz-range-thumb, .group__input[type=range]#border-radius::-moz-range-thumb {
  background: #feb0a3;
}
.group__input[type=range]#saturate::-ms-thumb, .group__input[type=range]#border-radius::-ms-thumb {
  background: #feb0a3;
}
.group__input[type=range]#brightness, .group__input[type=range]#hue-rotate {
  background-image: linear-gradient(#dea3fe, #dea3fe);
}
.group__input[type=range]#brightness:focus:focus-visible, .group__input[type=range]#hue-rotate:focus:focus-visible {
  outline: 2px solid #dea3fe;
}
.group__input[type=range]#brightness::-webkit-slider-thumb, .group__input[type=range]#hue-rotate::-webkit-slider-thumb {
  background: #dea3fe;
}
.group__input[type=range]#brightness::-moz-range-thumb, .group__input[type=range]#hue-rotate::-moz-range-thumb {
  background: #dea3fe;
}
.group__input[type=range]#brightness::-ms-thumb, .group__input[type=range]#hue-rotate::-ms-thumb {
  background: #dea3fe;
}
.group__input[type=range]#contrast, .group__input[type=range]#border-width {
  background-image: linear-gradient(#a3f1fe, #a3f1fe);
}
.group__input[type=range]#contrast:focus:focus-visible, .group__input[type=range]#border-width:focus:focus-visible {
  outline: 2px solid #a3f1fe;
}
.group__input[type=range]#contrast::-webkit-slider-thumb, .group__input[type=range]#border-width::-webkit-slider-thumb {
  background: #a3f1fe;
}
.group__input[type=range]#contrast::-moz-range-thumb, .group__input[type=range]#border-width::-moz-range-thumb {
  background: #a3f1fe;
}
.group__input[type=range]#contrast::-ms-thumb, .group__input[type=range]#border-width::-ms-thumb {
  background: #a3f1fe;
}
.group__input[type=range]#blur {
  background-image: linear-gradient(#c4fea3, #c4fea3);
}
.group__input[type=range]#blur:focus:focus-visible {
  outline: 2px solid #c4fea3;
}
.group__input[type=range]#blur::-webkit-slider-thumb {
  background: #c4fea3;
}
.group__input[type=range]#blur::-moz-range-thumb {
  background: #c4fea3;
}
.group__input[type=range]#blur::-ms-thumb {
  background: #c4fea3;
}
.group__input[type=checkbox] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 1px solid #b2b2b2;
  background-color: #efefef;
  border-radius: 4px;
  width: calc(18px + 4 * (100vw - 320px) / 960);
  height: calc(18px + 4 * (100vw - 320px) / 960);
}
.group__input[type=checkbox]#sepia:checked {
  background-color: #feb0a3;
}
.group__input[type=checkbox]#sepia:focus:focus-visible {
  outline: 2px solid #feb0a3;
}
.group__input[type=checkbox]#invert:checked {
  background-color: #a3f1fe;
}
.group__input[type=checkbox]#invert:focus:focus-visible {
  outline: 2px solid #a3f1fe;
}
.group__input[type=checkbox]#scaleX:checked {
  background-color: #dea3fe;
}
.group__input[type=checkbox]#scaleX:focus:focus-visible {
  outline: 2px solid #dea3fe;
}
.group__input[type=checkbox]#scaleY:checked {
  background-color: #c4fea3;
}
.group__input[type=checkbox]#scaleY:focus:focus-visible {
  outline: 2px solid #c4fea3;
}
.group__input[type=color] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: calc(37px + 9 * (100vw - 320px) / 960);
  height: 31px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.group__input[type=color]::-webkit-color-swatch {
  border-radius: 4px;
  border: none;
}
.group__input[type=color]::-moz-color-swatch {
  border-radius: 4px;
  border: none;
}
.group__input[type=color]::-ms-reveal {
  border-radius: 4px;
  border: none;
}
.group__input[type=color]:focus:focus-visible {
  outline: 2px solid #dea3fe;
}
.group__reset {
  cursor: pointer;
  background-color: white;
  transform: rotate(0deg);
  transition: all 0.5s;
}
.group__reset:hover, .group__reset:focus {
  transform: rotate(360deg);
}

.reset__image {
  width: 100%;
}

.result__error {
  color: #ff5a3e;
  font-weight: 700;
  border: 3px dashed #ff5a3e;
  text-align: center;
  padding: 12px 18px;
  display: none;
}
.result__image {
  max-width: 640px;
}
.result__image #image {
  border-style: solid !important;
  max-width: 100%;
}

.footer {
  margin-top: 25px;
  padding-bottom: 20px;
}
.footer__content {
  display: flex;
  justify-content: center;
}
.footer__contacts {
  font-size: calc(14px + 2 * (100vw - 320px) / 960);
  font-weight: 500;
  position: relative;
}
.footer__contacts_link {
  font-weight: 700;
  color: #b834ff;
}
.footer__contacts::after {
  content: "";
  background-image: url("/assets/github.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: -5px;
  width: 22px;
  height: 22px;
  opacity: 0;
  transform: translate(200%, -10%);
  transition: all 0.5s;
}
.footer__contacts:hover::after, .footer__contacts:focus::after {
  opacity: 1;
  transform: translate(100%, -10%);
}